<h4 class="mt-2">Update lists</h4>
<small>
  Unfortunately, Letterboxd does not provide an API to allow us to get your Films/Watchlist in a simple effortless way.
  Therefore we need your help to get your film data. Go to your Letterboxd settings, then the "Data" tab and "Export
  your data". This will export a .zip file containing the "watched.csv" and "watchlist.csv" files you need to import
  here.
</small>
<form method="post" enctype="multipart/form-data" class="mt-2">
  {% csrf_token %}
  <div class="mb-3">
    <label for="csv_file" class="form-label">Select a CSV file to upload:</label>
    <input type="file"
           name="csv_file"
           id="csv_file"
           class="form-control"
           accept=".csv"
           required />
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
