{% extends "base.html" %}
{% block content %}
  {% load common_extras %}
  <ul class="nav nav-tabs  mb-2">
    <li class="nav-item">
      <a class="nav-link" href={% url 'profile' %}>Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'preferences' %}">Preferences</a>
    </li>
  </ul>
  <div class="mb-4">
    <h1>Film stats</h1>
    {% if user.watched and user.watchlist %}
      {% include "./decades_chart.html" %}
    {% endif %}
    <div class="row mb-4">
      <div class="col">
        <h3>Watched</h3>
        {% if user.watched %}
          <p class="lead">
            {{ user.watched.num_films }}
            {% if user.watchlist %}
              <small>({{ user.watched.num_films|percent:user.watchlist.num_films|floatformat:0 }}% of your watchlist)</small>
            {% endif %}
          </p>
          <small>Last updated: {{ user.watched.updated_at }}</small>
          {% if user.watched.updated_at|more_than_a_month_ago %}
            <div class="alert alert-warning">You haven't updated your Watched list in a while.</div>
          {% endif %}
        {% else %}
          <div class="alert alert-warning">We don't have your Watched films yet.</div>
        {% endif %}
      </div>
      <div class="col">
        <h3>Watchlist</h3>
        {% if user.watchlist %}
          <p class="lead">{{ user.watchlist.num_films }}</p>
          <small>Last updated: {{ user.watchlist.updated_at }}</small>
          {% if user.watchlist.updated_at|more_than_a_month_ago %}
            <div class="alert alert-warning">You haven't updated your Watchlist in a while.</div>
          {% endif %}
        {% else %}
          <div class="alert alert-warning">We don't have your Watchlist stats yet.</div>
        {% endif %}
      </div>
    </div>
  </div>
  <form method="post" action="{% url 'stats' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
{% endblock content %}
