<section class="mb-5">
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
    <style>
        .options-list-container {
            min-height: 50px;
            min-width: 300px;
            border-radius: .375rem;
            padding: 5px;
            background-color:rgb(166, 172, 178);
        }
        .dropzone {
            min-height: 54px;
            border: 1px solid #dee2e6;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            min-width: 300px;
            background-color: white;
            border-radius: .375rem;
            gap: 5px;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        .draggable {
            cursor: grab;
            margin: 2px;
            display: inline-block;
            white-space: nowrap;
            user-select: none;
        }
    </style>
    <h3 class="mb-3">How should we prioritize picks for you?</h3>
    <p>
        We'll use these criteria when we choosing your picks.
        <br>
        Arrange the badges in order of relevance for you (most important first).
        <br>
        <small>
            Recommended: "In My Watchlist" first.
            Leave out criteria you don't care about.
        </small>
    </p>
    <!-- Dropzone -->
    <form method="post" action="{% url 'update-pick-order-criteria' %}">
        {% csrf_token %}
        <div id="dropzone" class="dropzone flex flex-row mb-2"></div>
        <input type="hidden" name="pick_order_criteria" id="pick_order_criteria">
        <!-- Draggable Elements -->
        <div class="options-list-container mb-3">
            <div id="optionsList" class="flex flex-row">
                <span class="draggable btn btn-light" data-id="-is_watchlisted">In My Watchlist</span>
                <span class="draggable btn btn-light" data-id="-has_cc_id">In Criterion Collection</span>
                <span class="draggable btn btn-light" data-id="decade_watched_percentage">Least Watched Decades</span>
                <span class="draggable btn btn-light" data-id="-has_future_session">With Sessions Soon</span>
                <span class="draggable btn btn-light" data-id="year">Earliest</span>
                <span class="draggable btn btn-light" data-id="-year">Newest</span>
                <span class="draggable btn btn-light" data-id="runtime">Shortest</span>
                <span class="draggable btn btn-light" data-id="-runtime">Longest</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const selectedCriteria = {{ user.preferences.pick_order_criteria|safe }};
            selectedCriteria.forEach(criteria => {
                const element = document.querySelector(`[data-id="${criteria}"]`);
                if (element) {
                    document.getElementById("dropzone").appendChild(element);
                }
            });
        });
        // dropzone
        Sortable.create(dropzone, {
            group: 'shared',
            animation: 150,
            store: {
                set: function (sortable) {
                    var order = sortable.toArray();
                    document.getElementById("pick_order_criteria").value = order;
                }
            }
        });
        // optionsList
        Sortable.create(optionsList, {
            group: 'shared',
            animation: 150,
        })
    </script>
</section>
