{% extends "base.html" %}
{% block content %}
    {% load common_extras %}
    {% include "./_nav_tabs.html" %}
    <div class="mb-4">
        <h1>Preferences</h1>
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    {{ message }}
                    <br>
                {% endfor %}
            </div>
        {% endif %}
        {% include "user/preferences/pick_criteria.html" %}
        <hr class="mt-5" />
        {% include "user/preferences/session_times.html" %}
    </div>
{% endblock content %}
