{% load common_extras %}
<section class="mb-5">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const userSessionTimePref = {{ user.preferences.session_times|safe }};  
            document.querySelectorAll(".hour-slider").forEach(function (slider) {
                let sliderId = slider.id.split("-")[1];
                let start = userSessionTimePref[sliderId]?.start ?? 0;
                let end = userSessionTimePref[sliderId]?.end ?? 24;
                noUiSlider.create(slider, {
                    start: [start, end],
                    connect: true,
                    range: {
                        'min': 0,
                        'max': 24
                    },
                    step: 1,
                });
                slider.noUiSlider.on("update", function (values, handle) {
                    let start = Math.round(values[0]);
                    let end = Math.round(values[1]);
                    document.getElementById(`input-${sliderId}-start`).value = start;
                    document.getElementById(`input-${sliderId}-end`).value = end;
                    document.getElementById(`display-${sliderId}`).textContent = `${start}h - ${end}h`;
                });
                document.getElementById(`display-${sliderId}`).textContent = `${start}h - ${end}h`;
            });
            document.querySelectorAll(".startvalue").forEach(function (elem) {
                let valueId = elem.id.split("-")[1];
                let start = userSessionTimePref[valueId]?.start ?? 0;
                elem.textContent = start;
            });
            document.querySelectorAll(".endvalue").forEach(function (elem) {
                let valueId = elem.id.split("-")[1];
                let end = userSessionTimePref[valueId]?.end ?? 0;
                elem.textContent = end;
            });
        });        
    </script>
    <style>
        .noUi-target {
            height: 7px;
            background: #073642;
            box-shadow: none;
            border: none;
        }
        .noUi-connect {
            background: #b58900;
        }
        .noUi-horizontal .noUi-handle {
            height: 18px;
            width: 18px;
            top: -6px;
            right: -9px; /* half the width */
        }
        .noUi-handle {
            box-shadow: none;
            border: 1px solid #073642;
            border-radius: 100%;
            background: #b58900;
            cursor: pointer;
            transition: background 0.15s ease, box-shadow 0.2s ease;
        }
        .noUi-handle:focus{
            box-shadow: 0 0 0 3px rgba(181, 136, 0, 0.5);
        }
        .noUi-handle:active{
            background:rgb(166, 172, 178);
        }
        .noUi-handle::before {
            content: none;
        }
        .noUi-handle::after {
            content: none;
        }
    </style>
    <h3 class="mb-3">When do you go to the cinema?</h3>
    <p>
        We'll suggest films with sessions within your schedule.
        <br>
        <small>Consider only the starting time of the session, not the end time.</small>
    </p>
    <form id="session-times-form"
          method="post"
          action="{% url 'update-session-times' %}">
        {% csrf_token %}
        <div>
            {% for day_num, day_name in days_of_week.items %}
                <div class="row align-items-center mb-3">
                    <div class="col-2 text-end">
                        <label for="{{ day_name }}-range" class="fw-bold">{{ day_name }}</label>
                    </div>
                    <div class="col-7">
                        <div id="slider-{{ day_num }}" class="hour-slider"></div>
                    </div>
                    <div class="col-3">
                        <span id="display-{{ day_num }}" class="fw-bold">0h - 24h</span>
                        <input type="hidden"
                               name="session_times[{{ day_num }}][start]"
                               id="input-{{ day_num }}-start"
                               value="{{ user.preferences.session_times|get_start:day_num|default:0 }}">
                        <input type="hidden"
                               name="session_times[{{ day_num }}][end]"
                               id="input-{{ day_num }}-end"
                               value="{{ user.preferences.session_times|get_end:day_num|default:24 }}">
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</section>
