{% load common_extras %}
<section class="mb-5">
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $(document).ready( function() {
            const userSessionTimePref = {{ user.preferences.session_times|safe }};    
            $( ".hour-slider" ).each(function () {
                let sliderId = $(this).attr("id").split("-")[1];
                let start = userSessionTimePref[sliderId]?.start ?? 0;
                let end = userSessionTimePref[sliderId]?.end ?? 24;
                $("#" + $(this).attr("id")).slider({
                    range: true,
                    min: 0,
                    max: 24,
                    values: [start, end],
                    create: function( event, ui ) {
                        $( "#display-"+sliderId ).text( start+"h - "+end+"h" );
                    },
                    slide: function( event, ui ) {
                        let start = ui.values[0];
                        let end = ui.values[1]
                        $( "#input-"+sliderId+"-start" ).val( start );
                        $( "#input-"+sliderId+"-end" ).val( end );
                        $( "#display-"+sliderId ).text( start+"h - "+end+"h" );
                        
                    }
                });
            });
            $(".startvalue").each(function () {
                let valueId = $(this).attr("id").split("-")[1];
                let start = userSessionTimePref[valueId]?.start ?? 0;
                $("#" + $(this).attr("id")).text(start);
            });
            $(".endvalue").each(function () {
                let valueId = $(this).attr("id").split("-")[1];
                let end = userSessionTimePref[valueId]?.end ?? 0;
                $("#" + $(this).attr("id")).text(end);  
            });
        });
    </script>
    <h3 class="mb-3">When do you go to the cinema?</h3>
    <p>
        We'll suggest films with sessions within your schedule.
        <br>
        <small>Consider only the starting time of the session, not the end time.</small>
    </p>
    <form id="session-times-form"
          method="post"
          action="{% url 'update-session-times' %}">
        {% csrf_token %}
        <div>
            {% for day_num, day_name in days_of_week.items %}
                <div class="row align-items-center mb-3">
                    <div class="col-2 text-end">
                        <label for="{{ day_name }}-range" class="fw-bold">{{ day_name }}</label>
                    </div>
                    <div class="col-7">
                        <div id="slider-{{ day_num }}" class="hour-slider"></div>
                    </div>
                    <div class="col-3">
                        <span id="display-{{ day_num }}" class="fw-bold">0h - 24h</span>
                        <input type="hidden"
                               name="session_times[{{ day_num }}][start]"
                               id="input-{{ day_num }}-start"
                               value="{{ user.preferences.session_times|get_start:day_num|default:0 }}">
                        <input type="hidden"
                               name="session_times[{{ day_num }}][end]"
                               id="input-{{ day_num }}-end"
                               value="{{ user.preferences.session_times|get_end:day_num|default:24 }}">
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</section>
