{% if alternatives %}
    <table class="table table-striped mb-0">
        <thead>
            <tr>
                <th>Film</th>
                <th>Sessions</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for alternative in alternatives %}
                <tr>
                    <td class="align-middle">
                        <a class="btn btn-lg btn-primary {% if alternative.watchlisted %}text-warning{% endif %}"
                           href="{{ alternative.film.url }}"
                           target="_blank"
                           rel="noopener noreferrer"
                           title="{% if alternative.watchlisted %}Watchlisted{% endif %}">{{ alternative.film.title }} ({{ alternative.film.year }})</a>
                    </td>
                    <td class="align-middle">
                        <div class="d-flex flex-column gap-2">
                            {% for session in alternative.sessions %}
                                <div>
                                    <strong>Venue:</strong> {{ session.venue }}
                                    <br />
                                    <strong>Time:</strong> {{ session.datetime|date:"F j, Y, g:i a" }}
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="align-middle">
                        {% if pick %}
                            <button class="btn btn-primary"
                                    onclick="updatePick({{ pick.id }}, {{ alternative.film.id }})">Pick</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
            function updatePick(pickId, filmId) {
                fetch(`/picks/update/${pickId}/`, {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                body: JSON.stringify({ film_id: filmId }),
                })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error("Failed to update pick");
                })
                .then((data) => {
                    window.location.href = "/";
                })
                .catch((error) => {
                    console.error(error);
                    alert("Failed to update pick.");
                });
            }
    </script>
{% else %}
    <p class="text-muted">No sessions in this category available at this time.</p>
{% endif %}
