{% extends "base.html" %}
{% block content %}
  <h5>Category {{ category.number }}</h5>
  <h1>{{ category.title }}</h1>
  <h2>All Films</h2>
  <div class="d-flex justify-content-center flex-wrap mb-4">
    {% for film in category.films %}
      <a class="btn btn-lg btn-primary me-1 mb-1 {% if film.watched %}opacity-50{% endif %} {% if film.watchlisted %}text-warning{% endif %}"
         href="{{ film.url }}"
         target="_blank"
         rel="noopener noreferrer"
         title="{% if film.watched %}Watched{% elif film.watchlisted %}Watchlisted{% endif %}">{{ film.title }} <small>({{ film.year }})</small></a>
    {% empty %}
      <p>No films in this category.</p>
    {% endfor %}
  </div>
  <a href="{% url 'categories' %}" class="btn btn-secondary">Back</a>
{% endblock content %}
