{% extends "base.html" %}
{% block content %}
  <h1>Categories</h1>
  <!-- Sorting Dropdown -->
  <form method="get" class="mb-3">
    <label for="sort" class="form-label">Sort by:</label>
    <select name="sort"
            id="sort"
            class="form-select"
            onchange="this.form.submit()">
      <option value="number"
              {% if request.GET.sort == "number" %}selected{% endif %}>Category ↑</option>
      <option value="-number"
              {% if request.GET.sort == "-number" %}selected{% endif %}>Category ↓</option>
      <option value="films_count"
              {% if request.GET.sort == "films_count" %}selected{% endif %}>Films ↑</option>
      <option value="-films_count"
              {% if request.GET.sort == "-films_count" %}selected{% endif %}>Films ↓</option>
      <option value="watched_count"
              {% if request.GET.sort == "watched_count" %}selected{% endif %}>Watched ↑</option>
      <option value="-watched_count"
              {% if request.GET.sort == "-watched_count" %}selected{% endif %}>Watched ↓</option>
      <option value="watchlist_count"
              {% if request.GET.sort == "watchlist_count" %}selected{% endif %}>Watchlist ↑</option>
      <option value="-watchlist_count"
              {% if request.GET.sort == "-watchlist_count" %}selected{% endif %}>Watchlist ↓</option>
    </select>
  </form>
  <div class="row row-cols-1 row-cols-md-4 g-2 mb-4">
    {% for category in categories %}
      <div class="col">
        <div class="card text-white {% if category.pick.watched %}bg-primary{% endif %} {% if category.pick.locked %}border-primary{% endif %}">
          <h4 class="card-header">
            <small>{{ category.number }}.</small> {{ category.title }}
            {% if category.pick.locked %}<span title="locked">🔒</span>{% endif %}
          </h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div>
                <strong>Films:</strong> {{ category.films_count }}
              </div>
              <div>
                <strong>Watched:</strong> {{ category.watched_count|default:0 }}
              </div>
              <div>
                <strong>Watchlisted:</strong> {{ category.watchlist_count|default:0 }}
              </div>
            </li>
            {% if category.pick %}
              <li class="list-group-item">
                Your pick:
                <div>
                  <strong class="fs-4">{{ category.pick.film }}</strong>
                  {% if category.pick.watched %}
                    <span title="watched">✅</span>
                  {% elif category.pick.watchlisted %}
                    <span title="watchlisted">☑️</span>
                  {% endif %}
                  {% if category.pick.session %}<span title="with session soon">🎦</span>{% endif %}
                </div>
              </li>
            {% endif %}
          </ul>
          <div class="card-body">
            <a href='{% url 'category_detail' category.id %}'
               class="btn {% if category.pick.watched %}btn-dark{% else %}btn-primary{% endif %}">Check Category</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
