{% extends "base.html" %}
{% block content %}
  <h5>Category {{ category.number }}</h5>
  <h1>
    {{ category.title }}
    {% if category.locked %}🔒{% endif %}
  </h1>
  <section class="row row-cols-1 row-cols-md-4 g-2 mb-4">
    {% for film in category.films %}
      <div class="col">
        <div class="card {% if not film.watched %}text-white{% endif %} {% if film.is_pick %}bg-primary{% endif %}">
          <div class="card-header">
            <h4>
              {{ film.title }} <small><small class="fw-lighter">({{ film.year }})</small></small>
            </h4>
            <div>{{ film.directors }}</div>
          </div>
          {% if film.sessions %}
            <ul class="list-group list-group-flush">
              {% for session in film.sessions %}<li class="list-group-item">{{ session.date }}, {{ session.venue }}</li>{% endfor %}
            </ul>
          {% endif %}
          <div class="card-body">
            <a href="{{ film.url }}"
               class="btn btn-dark"
               target="_blank"
               rel="noopener noreferrer">Letterboxd</a>
            <button class="btn btn-danger"
                    {% if film.watched or film.picked or category.locked %}disabled{% endif %}
                    {% if film.watched %}title="Already watched!"{% endif %}
                    {% if film.picked %}title="Already picked!"{% endif %}
                    onclick="setPick({{ category.id }}, {{ film.id }})">Pick</button>
            {% if film.is_pick %}
              <input type="checkbox"
                     class="btn-check"
                     id="btncheck1"
                     {% if category.locked %}checked{% endif %}
                     autocomplete="off"
                     onchange="toggleLock({{ category.id }})">
              <label class="btn btn-secondary" for="btncheck1">
                {% if category.locked %}
                  Unlock
                {% else %}
                  Lock
                {% endif %}
              </label>
            {% endif %}
          </div>
        </div>
      </div>
    {% empty %}
      <p>No films in this category.</p>
    {% endfor %}
  </section>
  <script>
    function setPick(categoryId, filmId) {
        fetch(`/picks/set_category_pick/`, {
        method: "PATCH",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({ category_id: categoryId, film_id: filmId }),
        })
        .then((response) => {
            if (response.ok) {
                return response.json();
            }
            throw new Error("Failed to update pick");
        })
        .then((data) => {
          window.location.reload();
        })
        .catch((error) => {
            console.error(error);
            alert("Failed to update pick.");
        });
    }

    function toggleLock(categoryId) {
      fetch(`/picks/toggle_lock/`, {
      method: "PATCH",
      headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({ category_id: categoryId }),
      })
      .then((response) => {
          if (response.ok) {
              return response.json();
          }
          throw new Error("Failed to update lock status");
      })
      .then((data) => {
        window.location.reload();
      })
      .catch((error) => {
          console.error(error);
          alert("Failed to update lock status.");
      });
  }
  </script>
{% endblock content %}
