{% if picks %}
  <h3>Your Picks</h3>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pick</th>
        <th scope="col">Letterboxd</th>
        <th scope="col">🔒</th>
      </tr>
    </thead>
    <tbody>
      {% for pick in picks %}
        <tr class="align-items-stretch">
          <th scope="row" class="align-middle">
            <span class="d-flex justify-content-center align-items-center h-100">{{ pick.number }}</span>
          </th>
          <td class="form-floating">
            <select class="form-select"
                    id="floatingSelect"
                    data-pick-id="{{ pick.id }}"
                    aria-label="{{ pick.category.title }}"
                    {% if pick.locked %}disabled{% endif %}>
              {% for film in pick.category.films %}
                <option value="{{ film.id }}"
                        {% if film.disabled %}disabled{% endif %}
                        {% if pick.film.id == film.id %}selected{% endif %}>
                  {{ film.title }} ({{ film.year }})
                  {% if film.watchlisted %}*{% endif %}
                </option>
              {% endfor %}
            </select>
            <label for="floatingSelect">{{ pick.category.title }}</label>
          </td>
          <td class="align-middle">
            <a href="{{ pick.film.letterboxd }}"
               class="btn btn-lg btn-outline-primary h-100 d-flex align-items-center justify-content-center"
               target="_blank"
               rel="noopener noreferrer">Letterboxd</a>
          </td>
          <td class="align-middle">
            <input type="checkbox"
                   class="form-check-input"
                   id="locked-checkbox"
                   data-pick-id="{{ pick.id }}"
                   {% if pick.locked %}checked{% endif %}>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <small>* in your watchlist</small>
  <div class="my-2 d-flex gap-2">
    <div>
      <a href="{% url 'complete_picks' %}" class="btn btn-primary">Randomize Picks</a>
    </div>
    <div>
      <a href="{% url 'suggestions' %}" class="btn btn-primary">Check Film Sessions</a>
    </div>
  </div>
{% else %}
  <a href="{% url 'complete_picks' %}" class="btn btn-primary">Generate Picks</a>
{% endif %}
