{% if picks %}
  <h3>Your Picks</h3>
  <ol class="d-flex flex-column gap-2 mb-4">
    {% for pick in picks %}
      <li class="form-floating">
        <select class="form-select"
                id="floatingSelect"
                aria-label="{{ pick.category.title }}"
                {% if pick.watched %}disabled{% endif %}>
          {% for film in pick.category.films %}
            <option value="{{ film.cc_id }}"
                    {% if pick.film.cc_id == film.cc_id %}selected{% endif %}>
              {{ film.title }} <small>({{ film.year }})</small>
            </option>
          {% endfor %}
        </select>
        <label for="floatingSelect">{{ pick.category.title }}</label>
      </li>
    {% endfor %}
  </ol>
{% else %}
  <p>No picks available.</p>
{% endif %}
